<div>
    <h1 class="accountHeading">Account</h1>
    <hr>
</div>


<div>
    <div>
        <h2 class="accountSubHeader">Account Details</h2>
    </div>    
    <div>
        <h3 class="customerName">Esu Obu</h3>
        <button input="click" type="button" class="editName">Edit</button>
    </div>
    <div>
        <h3 class="telephone">470-338-8612</h3>
        <button input="click" type="button" class="editNumber">Edit</button>
    </div>
    <div>
        <h3 class="email">eobu@ggc.edu</h3>
        <button input="click" type="button" class="editEmail">Edit</button>
        <hr>
    </div>   

    <div>
        <h2 class="changePassword">Change Password</h2>
        <input class="currentPassword" type="text" placeholder="Current Password"><br><br>
        <input class="newPassword" type="text" placeholder="New Password"><br><br>
        <input class="verifyPassword" type="text" placeholder="Verify New Password"><br>
        <button input="click" type="button" class="savePassword">SAVE</button><br>
        <span class="Password Rules" type="text">Your new password must be at least 8 characters & contain at least one special chracter</span>
        
    </div>
    
    <div>
        <h2 class="Adresses">Addresses</h2>
        
        



    </div>    
       
        
 
</div>




