<form class="createUserForm" action="/localhost:4200" method="POST">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" name="user.firstName" id="firstName" aria-describedby="emailHelp" placeholder="First Name" [(ngModel)]="user.firstName">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" name="user.lastName" id="lastName" placeholder="Last Name" [(ngModel)]="user.lastName">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="user.password">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="user.email" id="email" placeholder="Email" [(ngModel)]="user.email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" class="form-control" name="user.phoneNumber" id="phoneNumber" placeholder="123-456-789" [(ngModel)]="user.phoneNumber">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" name="user.address" id="address" placeholder="123 This Road" [(ngModel)]="user.address">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" name="user.city" id="city" placeholder="City" [(ngModel)]="user.city">
  </div>
  <div class="form-group">
    <label for="state">State</label>
      <select type="drop-down" class="form-control" name="user.state" id="state" placeholder="State" [(ngModel)]="user.state">
          <option>AK</option>
          <option>AL</option>
          <option>AR</option>
          <option>AZ</option>
          <option>CA</option>
          <option>CO</option>
          <option>CT</option>
          <option>DE</option>
          <option>FL</option>
          <option>GA</option>
          <option>HI</option>
          <option>IA</option>
          <option>ID</option>
          <option>IL</option>
          <option>IN</option>
          <option>KS</option>
          <option>KY</option>
          <option>LA</option>
          <option>MA</option>
          <option>MD</option>
          <option>ME</option>
          <option>MI</option>
          <option>MN</option>
          <option>MO</option>
          <option>MS</option>
          <option>MT</option>
          <option>NC</option>
          <option>ND</option>
          <option>NE</option>
          <option>NH</option>
          <option>NJ</option>
          <option>NM</option>
          <option>NV</option>
          <option>NY</option>
          <option>OH</option>
          <option>OK</option>
          <option>OR</option>
          <option>PA</option>
          <option>RI</option>
          <option>SC</option>
          <option>SD</option>
          <option>TN</option>
          <option>TX</option>
          <option>UT</option>
          <option>VA</option>
          <option>VT</option>
          <option>WA</option>
          <option>WI</option>
          <option>WV</option>
          <option>WY</option>
      </select>
  </div>
  <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <div class="form-group">
    <label for="zipCode">Zip Code</label>
    <input type="text" class="form-control" name="user.zipCode" id="zipCode" placeholder="Zip Code" [(ngModel)]="user.zipCode">
  </div>
  <button type="submit" (click) = "submit()" class="btn btn-primary">Submit</button>
</form>
