/* body{ */
  /* color: #f8cf55; */
  
    /* background-image: url('https://foodie-bucket.s3.amazonaws.com/54088690-organic-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg');
    background-size: cover;
} */
.rest_img {
	width: 300px;
    height: 180px;
    margin-top: 16px;
    /* opacity: 0.90; */
}

/* .rest_img:hover {
    opacity: 1;
    transition: opacity 0.4s linear;
    filter: alpha(opacity=50);
    background-color:black;
    border: 1px solid black;
    box-shadow: 2px 2px inset black;
} */

.banner_background{
    background-image: url('https://foodie-bucket.s3.amazonaws.com/54088690-organic-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg');
}

.banner_img {
    width: 100vw;
    height: 30vh;
    margin-top: 4px;
}

.time_green {
    color: green;
}

.cat_red {
    color: red;
    /* font-size: 1.5rem; */
}

.title_highlight {
    font-size: 1rem;
}

.selected :hover {
    cursor: pointer;
}
.title_font {
    font-family: Arial, Helvetica, sans-serif;
}

.delivery_font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.option_select:hover {
    cursor: pointer;

}
.container_border {
    border: 1px solid rgba(217, 219, 224, 0.5);
    margin: 2px;
    box-shadow: 2px 2px gray;
    opacity: 0.90;
    border-width: 2px;
}

.container_border:hover {
    opacity: 1;
}

.option_selected{
    /* text-decoration-line: underline;
    text-underline-position: below;
    text-underline-offset: 4px;
    text-decoration-color: blue;
    text-decoration-thickness: 3px; */
    border-bottom: 3px solid green;
    padding-bottom: 4px;
}

.option_notSelected{
    text-decoration-line: underline;
}

.norm_font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.or_font {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
