<body>
    <h1> Restaurants</h1>
    <div class="container">
        <div class="row">
            <div class="col selected" *ngFor="let result of restaurant" (click)="onRestaurantClick(result)" >
                <div class="row">
                    <div class ="col-8 title_highlight">
                        {{ result.name }}
                    </div>
                    <div class ="col-6 cat_red">
                    {{ result.foodTypes[0] }}
                    </div>
                </div>
                <div>
                    <img class = rest_img src="{{ result.logoUrl }}" alt="{{ result.logoUrl }}">
                </div>
                <div class="row">
                    <div *ngIf = "result.deliveryPrice != undefined"class ="col-8">  
                    Delivery fee: ${{ result.deliveryPrice }}
                    </div>
                    <div *ngIf = "result.deliveryPrice === undefined" class ="col-8">
                        Delivery fee: Free
                    </div>
                </div>
                    <div>
                        <p class= time_green>{{ result.minWaitTime }} - {{ result.maxWaitTime }} min</p>
                    </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>