.rest_img {
	width: 10vw !important;
	height: 30vh !important;
}

.time_green {
    color: green;  
}

.cat_red {
    color: red;
    /* font-size: 1.5rem; */
}

.title_highlight {
    font-size: 1.5rem;
}