h2{
  margin-left: 10vw;
}
a{
  margin-left: 10vw;
  color: #f8cf55;
}
a:hover{
  color: #4b9ac4;
}
.container{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  margin: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;

}
button{
  background-color: #9e0a0a;
  color: #f8cf55;
  border: none;
}

button:hover{
  color: #4b9ac4;
}

.signIn-container{
  margin-top: 5vh;
  font-size: 20px;
  flex-direction: row;
}

#password{
  margin-left: 5px;
  margin-right: 5px;
}
.userInput{
  align-self: center;

}
