<div class="container">
  <div class="signIn-container">
    <h2>Please SignIn</h2>
    <div class="userInput">
    <input type="email" [(ngModel)] = "loginCreds.email" placeholder="email@example.com">
    <input (keydown.enter)= "signIn()" type="password" [(ngModel)] = "loginCreds.password" id="password" placeholder="password">
    <button (click) = signIn()>Sign In</button>
  </div>
    <div *ngIf = wrongpass id="userValidation"> Incorrect user please try again</div>
    <a routerLink="/create-account">Create Account</a>
  </div>

</div>
