<div class="delivery-option-container">

        <div class="address-header header">
                Delivery Address
        </div>

        <div class="address-container container">
                <div class="address">{{address}}</div>
        </div>

        <div class="time-header header">
                Estimated Arrival Time
        </div>

        <div class="time-option-container container">
                {{estimatedArrTime}}
        </div>

        <div class="payment-header header">
                Payment
        </div>

        <div class="payment-container container">
                <div class="payment-type">
                        {{paymentType}}
                </div>
        </div>

</div>