<div class="delivery-option-container">

        <div class="address-header">
                Delivery Address
        </div>

        <div class="address-container">
                <div>{{address}}</div>
        </div>

        <div class="time-header">
                Estimated Arrival Time
        </div>

        <div class="time-option">
                {{estimatedArrTime}}
        </div>

        <div class="payment-header">
                Payment
        </div>

        <div class="payment-type">
                {{paymentType}}
        </div>

</div>