<div class="menu-container">
    <div class="food-category-container" *ngFor="let foodCategory of foods">
        <div class="category-name">
            &#9733; {{foodCategory.name}}
        </div>
        <!-- "name": "Vegetable Ulavacharu Biryani [Gluten Free]",
        "description": "Vegetable dum biryani mixed in ulavacharu (black lentil) sauce. Served with raita and salan.",
        "basePrice": 12.9 -->
        <div class="all-foods-per-category">
            <div class="food-item-container" (mouseenter)="FoodQuant[food.apiKey][1]=handleHover()" (mouseleave)="FoodQuant[food.apiKey][1]=handleHover()" *ngFor="let food of foodCategory.items">
                <div class="food-item">
                    <div>
                        <div class="food-name"> 
                            {{
                                food.name
                                .replace('[Gluten Free]', '')
                                .replace('[New]', '')
                                .replace('[Free]', '')
                                .replace('[Vegan]', '')
                            }} 
                        </div>
                        <div class="food-desc"> {{food.description}} </div>
                        <div class="food-price"> ${{food.basePrice}} </div>
                    </div>
                    <div class="buttons" *ngIf="FoodQuant[food.apiKey][1] || FoodQuant[food.apiKey][0] > 0">
                        <button class="orderButtonRight" (click)="modifyDown(food)" [disabled]="FoodQuant[food.apiKey][0] === 0">-</button>
                        <!-- <span class="foodQuant">{{myCart[food.apiKey].quantity}}</span> -->
                        
                        <span class="foodQuant">{{FoodQuant[food.apiKey][0]}}</span>
                        <button class="orderButtonLeft" (click)="modifyUp(food)">+</button>
                    <!-- *ngIf="FoodQuant[food.apiKey][0] > 0" -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 

    [Gluten Free]
    [Free]
    [Vegan]

 -->