/* .order{
  display: flex;
  flex-direction: column;
  width: 25%;
}

.userInfo{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.cart{
  display: flex;
  flex-direction: row;
}

ol{
  border: solid;
}

li{
  border: solid;
} */

.shopping-cart-container {
  display: flex;
  flex-direction: row;
}