/* .order{
  display: flex;
  flex-direction: column;
  width: 25%;
}

.userInfo{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.cart{
  display: flex;
  flex-direction: row;
}

ol{
  border: solid;
}

li{
  border: solid;
} */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.shopping-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-header {
  font-size: 36px;
  font-weight: 800;
  color: #2D3138;
}

.options-container {

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 400px;
  border: 1px solid rgb(182, 186, 196);
  cursor: pointer;

}

.option-container {
  
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  
}

.option-container .option-selected {
  font-size: 12px;
  color: #2D3138;
  font-weight: 800;
}

.option-container .option-price {
  font-size: 11px;
  color: #8F95A3;
}

.delivery-option-container {
  border-right: 1px solid rgb(182, 186, 196);
}

.delivery-active {
  height: 50px;
  border-bottom: 3px solid rgb(0, 204, 153);
}