<!-- <div class="cart">
<div class="userInfo">
  <p class="address">{{userAddress}} this is the page and the userInfo</p>
</div>
<div class="order">
<ol>
  <h2>{{restaurant.name}}</h2>
    <li *ngFor="let key of objectKeys(cart)">
        {{cart[key]["foodItem"].name}} and {{cart[key].quantity}}
    </li>
</ol>
</div>
</div> 
-->

<div class="shopping-cart-container">

  <div class="left-child-container">
    
    <div class="checkout-container">
      <div class="checkout-header">
        Checkout
      </div>

      <div class="options-container">

        <div [ngClass]="deliveryClass" (click)="displayDeliveryOption('delivery')">
          <div class="option-selected">DELIVERY</div>
          <div class="option-price">{{rest['delivery']}}</div>
        </div>

        <div [ngClass]="pickupClass" (click)="displayDeliveryOption('pickup')" >
          <div class="option-selected">PICKUP</div>
          <div class="option-price">Free</div>
        </div>
        
      </div>


    </div>

    <delivery-option *ngIf="deliverySelected"
      
      [address]="user['address']"
      [estimatedArrTime]="time"
      [paymentType]="payment"

      ></delivery-option>

    <pickup-option *ngIf="!deliverySelected"

      [pickupAddress]="rest['address']"
      [estimatedTimePickup]="time"
      [paymentType]="payment"

    >
    </pickup-option>

  </div>

  <div class="right-child-container">

    <div class="google-map">
      <img src="https://i.stack.imgur.com/JwzK7.jpg" alt="">
    </div>

    <div class="items-container">
      <div class="rest-name-menu-container">
        <div class="rest-name header">
          {{rest['name']}}
        </div>
        <div class="rest-menu">
          View Menu
        </div>
      </div>

      <div class="food-item" *ngFor="let key of objectKeys(cart)">
        
        <div class="food-item-name-price">
          <div class="food-item-name">
            {{cart[key]["quantity"]}} x {{cart[key]["foodItem"].name}}
          </div>
          <div>
            ${{cart[key]["foodItem"].basePrice}}
          </div>
        </div>

        <div class="food-item-description">
          {{cart[key]["foodItem"].description}}
        </div>

      </div>

    </div>

  </div>
</div>