.openAddress{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}
.address{
  margin-top: 5vh;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.adds{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-top: 15vh;
}
#distance{
  max-width: 5vw;
  margin-left: 5px;
  margin-right: 5px;
}
