
<div class="openAddress">
    <div>
       Give us your money, We give you food
    </div>
    <div class="address">
        <input (keydown.enter)= "finishTypingEvent()" type="text" [(ngModel)] = "address" placeholder="address">
        <input (keydown.enter)= "finishTypingEvent()" type="text" id="distance" [(ngModel)] = "distance" placeholder="2">
        <button (click)= "search()" routerLink = "restaurants">Near by</button>
    </div>
    <div>
    </div>
    <div class = "adds">
          <div class="add1">
            Pay us monthly for no delivery fees
          </div>
    </div>
</div>


