<!--div class="userAccntDiv"-->
    <!--div id="userAccount"-->  
        <div id="userProfile">
            <label class="customerName">{{user.firstName }} {{ user.lastName}}</label>
            <button id="changePhoto">
                <span class= "picIconSpan">
                    <div >
                        <!-- if user has no ProfilePicture. Then that variable will be empty string (user.profilepicurl = "")
                        -->
                        <div *ngIf="user.profilePictureUrl.length > 0">
                            <span>Nothing</span>
                            <img src = "user.ppurl" alt="User profilepic"/>
                        </div>
                        <i id="personIcon"class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div id="photoInput">
                        <span id="changePhoto"> CHANGE PHOTO</span>
                        <input type="file" id="photoUpload">
                    </div>                                    
                </span>               
            </button>
        </div>

    <form class="editUserAccount">
        <div class="form-group">
            <h2 class="AccountDetails">Account </h2>
        </div>

        <div class="form-group">
            <input [value]="user.firstName" type="text" class="userDetails" [(ngModel)]="user.firstName">
            <button input="click" type="button" id="edit">Edit</button>
        </div>

        <div class="form-group">
            <input [value]="user.lastName" type="text" class="userDetails" [(ngModel)]="user.lastName">
            <button input="click" type="button" id="edit">Edit</button>
        </div>

        <div class="form-group">
            <input [value]="user.phoneNumber" class="userDetails" type="text" [(ngModel)]="user.phoneNumber">
            <button input="click" type="button" id="edit">Edit</button>
        </div>

        <div class="form-group">
            <input [value]="user.email" type="text" class="userDetails" [(ngModel)]= "user.email">
            <button input="click" type="button" id="edit">Edit</button>
        </div>
    <!--merge issue start -->
        <div class="form-group">
            <h5 class="Addresses">Address</h5>
            <input [value]="user.address" type="text" class="userDetails" [(ngModel)]= "user.address"><br>
            <input [value]="user.city" type="text" class="userDetails" [(ngModel)]= "user.city"><br>
            <input [value]="user.zipCode" type="text" class="userDetails" [(ngModel)]= "user.zipCode"><br>
            <button input="click" type="button" id="editA">Edit</button>
        </div>

        <div class="form-group">
                <div>
                    <h2 class="changePassword">Change Password</h2>
                    <input class="pw" type="text">
                    <input class="pw" type="password" placeholder="New Password">
                    <input class="pw" type="password" placeholder="Verify New Password">
                    <span class="pwRules" type="text">Your new password must be at least 8 characters & contain at least one special chracter</span>
                </div>

                <div class="saveNewPassword">
                    <button input="click" type="button" id="update">SAVE</button><br>
                </div>
        </div>
    </form>
        <!-- merge issue -->

    <!-- <div>
        <h2 class="Addresses">Address</h2>
        <span>
        {{ user.address }}, {{ user.city }}, {{user.state}} {{user.zipCode}}
        </span>



    </div> -->
