.completed {
    color: chartreuse;
}
.userAccntDiv{
    display: flex;
    margin-top: 15vh;
    margin-left: 30px; 
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
} */

#userProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
}

#changePhoto{
    margin: 40px;
    justify-content: center;
    color: #f8cf55;
    font-weight: bold;
}

.picIconSpan{
    display:flex;
    flex-direction: column;
    height: 25vh;
    width: 21vw;
    margin-bottom: 60px;
    align-self: center;
    align-self: flex-start;
    
}

#personIcon{
    font-size: 70px;
    margin-bottom: -65px;
    margin-top: 10px;
    color: #9e0a0a;
}


#photoInput{
    margin: 20px;
    justify-content: center;
}

.editUserAccount{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: sans-serif;
}

#edit{
  margin-left: 18px;  
}

.userDetails{
    margin-bottom: 20px;
      
}

.pw{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 4px;

}
/* #editA{

} */

#update{
    margin-top: 20px; 

}
