.completed {
    color: chartreuse;
}

.col-9.userAccnount{
    display: flex;
    margin-top: 15vh;
    margin-left: 30vw; 
    flex-direction: row;
    justify-self: left;
    font-family: sans-serif;
    /* width:  */
}

.error {
    color: red;
}


.customerName{
    text-emphasis: bold;
    /* text-align: center; */
    margin: 8%;
}

#profileStuff{
    /* display: flex; */
    /* flex-direction: row; */
    align-self: left;
    margin-right: 5vw;
    width: 100vw;
    
}

.card-img-top{
    width: 100%;
}
.card{
    width: 100%;
    padding: -20px;
}

.personalDetails{
    border-radius: 10px;
}

.form-group{
    padding: 0px;
}

.form-groupAddress{
    padding: 0px;
    margin: 35vh;
}
.form-groupPW{
    padding: 0px;
    margin: 35vh;
}

#updatePW{
    border-radius: 10px;
}

.col-10.display{
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

/* .passwordRules{
    word-wrap: break-word;
} */

/* #userAccount{
    display: flex !important;
    flex-direction: column !important;
    align-self: left !important;

} */

.editUserAccount{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: sans-serif;
}

#edit{
  margin-left: 18px;  
}

.userDetails{
    margin-bottom: 20px;
      
}


.container.main{
    display: flex;
    flex-direction: row;
    align-content: left;
    margin:0px;
    width: 100%;
}

.col-7pastOrders{
    margin-top: 20vh;
    padding: 0px;
}