<div class="pickup-option-container">
        <div class="address-header">
                Pickup Address
        </div>
        
        <div class="address-container">
                {{pickupAddress}}        
        </div>

        <div class="time-header">
                Pickup Time
        </div>

        <div class="time-option">
                {{estimatedTimePickup}}
        </div>

        <div class="payment-header">
                Payment
        </div>

        <div class="payment-type">
                {{paymentType}}
        </div>
</div>