<div class="pickup-option-container">
        <div class="address-header header">
                Pickup Address
        </div>
        
        <div class="address-container container">
                <div class="address">
                        {{pickupAddress}}        
                </div>
        </div>

        <div class="time-header header">
                Pickup Time
        </div>

        <div class="time-option-container container">
                <div class="time-option">
                        {{estimatedTimePickup}}
                </div>
        </div>

        <div class="payment-header header">
                Payment
        </div>

        <div class="payment-type-container container">
                <div class="payment-type">
                        {{paymentType}}
                </div>
        </div>
</div>